*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Noto Sans', sans-serif;
}

/* Header.js CSS */

.background-img{
    width: 100%;
    height: 20vh;
    background :linear-gradient(#6B9AC4, #4059AD);
}

.background-img nav ul{
    display: flex;
    justify-content: end;
    padding: 25px;
}

.background-img nav ul li{
    padding-right: 20px;
    list-style: none;
}

.background-img nav ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.605);
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.605);
}

.background-img nav ul li a:hover{
    color: white;
    border-color: white;
}

.logoutlayout{
    color: white;
}

/* TodoArea.js CSS */

.outer-box{
    background-color: #eff2f1;
    width: 50vw;
    height: 70vh;
    position: absolute;
    top: 15vh;
    right: 25vw;
    box-shadow: 1px 1px 10px gray;
}

.app-name{
    background : #97D8C4;
    height: 10%;
    padding: 15px;
    font-family: 'Lato', sans-serif;
    color: aliceblue;
    text-shadow: 1px 1px 10px rgb(155, 150, 150);
}

.entry-field{
    height: 10%;
}

.AreaForList{
    height: 80%;
}

/* Entry Field CSS */

.mainBox{
    display: flex;
    justify-content: center;
}

.field{
    margin-top: 10px;
    overflow: hidden;
    width: 90%;
    position: relative;
}

.enfield{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 0.5px solid black;
    padding: 5px 35px 5px 10px;
}

#updatefield{
    width: 90%;
}


/* ListArea css */

.ListingArea{
    height: 100%;
    width: 100%;
    padding: 10px 0;
    overflow: scroll;
}

/* EntryField & ListItem CSS */

.buttonimg{
    height: 20px;
    width: 20px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 7px;
    opacity: 0.6;
}

.buttonimg:hover{
    opacity: 1;
}


/* listItems Css */

.item-box{
    position: relative;
    width : 90%;
    overflow: hidden;
    min-height: 10%;
    margin-left: 5%;
    margin-bottom: 10px;
    padding: 5px 20px 5px 10px;
    font-size: smaller;
    border-radius: 5px;
}

.delete{
    top: 10px;
}

.update{
    top : 12px;
    right: 36px;
}

.item-box:nth-child(4n+1){
    background-color: #F4B393;
}

.item-box:nth-child(4n+2){
    background-color: #84BC9C;
}

.item-box:nth-child(4n+3){
    background-color: #DDC67B;
}

.item-box:nth-child(4n+4){
    background-color: #D8CFAF;
}


/* Login form and signup form css */
.authform{
    background-color: #eff2f1;
    width: 50vw;
    height: 70vh;
    position: absolute;
    top: 15vh;
    right: 25vw;
    box-shadow: 1px 1px 10px gray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.authform form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 40%;
    margin: 20px;
}

.authform form input{
    width: 80%;
    height: 50px;
    text-align: center;
    font-size: 15px;
}

.authform form button{
    width: 20%;
    height: 40px;
    cursor: pointer;
    color: white;
    background-color: #3e6382;
    border: none;
}

.authform form button:hover{
    background-color: white;
    color: #3e6382;
    border: 1px solid #3e6382;
}

.errordiv{
    border: 2px solid rgb(255 107 107);
    width: 60%;
    height: 29px;
    text-align: center;
    color: rgb(255 107 107);
}